<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
    <link rel="stylesheet" href="../static/css/list_styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLQ_SLADD8-sJleu8eItxkjPR-6q7QtLw&libraries=places"></script>
    <script src="../static/js/map.js"></script>
</head>
<body>
    <header>
        <!-- Your header content goes here -->
        <div class="nav-elements">
            <div class="logo">
                <a href="{{ url_for('views.index') }}">
                    <img src="../static/image/logo.png" alt="Website Logo"></a>
            </div>
            <div class="bx bx-menu" id="menu-icon"></div>

            <div class="nav_links">
                <a href="{{ url_for('views.index') }}">Home</a>
                <a>|</a>
                <a href="{{ url_for('views.listings') }}" class="active">Listings</a>
                <a>|</a>
                <a href="#">Log in</a>
            </div>
        </div>
    </header>


    <main>
        <!-- Property Listings on the Left -->
        <section class="property-listings">
            <div class="listings-content">
                <div class="list_top">

                    <div class="nav_items">                    
                        <input type="text" class="search" placeholder="Map Location: Enter location and press Enter">
                        <div class="btn-box">
                            <a href="#" class="btn">Max Price</a>
                            <a href="#" class="btn">Beds</a>
                            <a href="#" class="btn">filters</a>    
                        </div>
                    </div>
                    <div class="info">
                        <p>10,000 properties</p>
                        <p>Sort by: <span>Best Match</span></p>
                    </div>
                </div>
                <!-- Property listings go here -->
            </div>
        </section>
    
        <!-- Map on the Right -->
        <section class="map">
            <div id="map"></div>
        </section>
    </main>
    
</body>
</html>
